@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);




#ext_menu-9 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#ext_menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-9 .mbr-brand__name a {
  font-size: 18px;
}
#header4-0 H1 {
  font-size: 48px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}
#header4-0 .btn {
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
}
#header4-0 P {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-0 .mbr-article {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2 .mbr-article {
  color: #ffffff;
}
#msg-box4-2 .mbr-article P {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3 .mbr-article {
  color: #ffffff;
}
#msg-box4-3 .mbr-article P {
  color: #effa1c;
}
#msg-box2-6 .mbr-header .mbr-header__text {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
}
#msg-box2-6 .mbr-article {
  color: #252525;
}
#form2-5 .mbr-header__text {
  color: #ffffff;
}
#footer1-10 P {
  text-align: center;
}
#social-buttons1-1 .mbr-header__text {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}

#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #f97352;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 18px;
}
#footer1-3 P {
  text-align: center;
}
#form2-6 .mbr-header__text {
  color: #ffffff;
}
#social-buttons1-b .mbr-header__text {
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
}
